body {
  background-color: #29292B;
}

table {
   border-bottom: 1px solid white;
   width: 100%;
   color: white;
 }
.table-div {
  border: 1px solid;
  background-color: #424242;
  width: 80%;
  margin-left: 10%;
}
td {
  padding-left: 70px;
}

img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
input {
  color: #fff;
}
textarea {
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: #424242;
}

#form .previewImage {
  margin-top: 20px;
  float: left;
  max-width: 300px;
 max-height: 300px;
 width: 300px;
 height: 300px;
 object-fit: cover;
 border-radius: 12px;
 display: none;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Blog Adding */
.img-1 {
  margin-top: 60px;
  float: left;
  display: contents;
}

.create {
  margin-top: 10px;
  flex: 1;
  margin-left: 65%;
  z-index: 1000;
}
.input-field.error input {
  border-color: red;
}
.input-field.success input {
  border-color: green;
}
.input-field .error-div {
  color: red;
  font-size: 9px;
  height: 13px;
}

#title, #lang, #topic, #blog {
  width: 600px;
  background-color: #424242;
}
